<div aria-label="group of cards" tabindex="0" class="flex flex-col w-full ml-10 md:ml-20 gap-10 2xl:ml-3">
  <div class='flex flex-col gap-5'>
    <h1 class='lg:text-6xl md:text-5xl text-4xl text-slate-700 font-bold'> Coming Soon! </h1>
    <p class='text-slate-400 text-sm font-semibold sm:text-2xl'> I've recently started getting deep into rails 7 and some really cool ruby frontend gems. </br>
                      I will be publishing blogs and code guides on here to share this knowledge with the universe. </br></p>
  </div>
</div>