<div class='flex flex-col w-1/3 max-w-fit bg-black border-1 rounded-md border-slate-300 shadow-md max-h-fit h-fit divide-y-2 divide-slate-300'>
    <div class='w-full flex items-center p-5 py-3'>
        <h2 class='text-slate-700 font-semibold'><%= @title %></h2>
    </div>
    <div id='nav_panel_content' class='w-full p-5 pb-0'>
        <%= content %>
    </div>


    <div class='w-full p-5 pt-4'>
        <%= action_button %>
    </div>

</div>
 