<div class="flex-1 truncate">
  <h2 class="headline"><%= @heading %></h2>
  <% if @supporting_text.present? %>
    <small class="subheadline mt-3 mb-3"><%= @supporting_text %></small>
  <% end %>
</div>