<div class="mb-4 text-center">
  <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-slate-700"><%= @title %></h2>
  <% if @description %>
    <p class="text-slate-500"><%= @description %></p>
  <% end %>
  <%= content %>
</div>