<button type="button" class="relative block w-full rounded-lg border-2 border-dashed border-slate-300 p-12 text-center hover:border-slate-400 focus:outline-none focus:ring-2 focus:ring-slate-500 focus:ring-offset-2">
  <%= component 'ui/icon', locals: { name: 'document-plus', size: :xxlg, classes: 'mx-auto text-slate-400'} %>
  <span class="mt-2 block font-medium text-slate-500"><%= @label %></span>
</button>
