<div class=" hover:shadow py-6 xl:px-4 rounded flex items-center flex-col sm:flex-row gap-5">
  <div class="mb-6">
    <%= inline_svg_tag("icons/#{@svg}", class: 'h-14 w-14') %>
  </div>
  <div class="whitespace-nowrap text-slate-400 text-lg font-semibold text-center">
    <h2><%= @title %></h2>
  </div>
</div>